<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse animate__animated animate__fadeInLeft animate__faster">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <a routerLink="inicio" routerLinkActive="active" class="nav-link">
                    <i class="bi bi-house-door-fill"></i> Inicio
                </a>
            </li>
            <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <a routerLink="ventas" routerLinkActive="active" class="nav-link">
                    <i class="bi bi-coin"></i> Ganancias del día
                </a>
            </li>
            <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <a routerLink="deudas" routerLinkActive="active" class="nav-link">
                    <i class="bi bi-graph-down-arrow"></i> Deudas
                </a>
            </li>
            <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <a routerLink="inventario" routerLinkActive="active" class="nav-link">
                    <i class="bi bi-archive-fill"></i> Inventario
                </a>
            </li>
            <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <a routerLink="mensualidades" routerLinkActive="active" class="nav-link">
                    <i class="bi bi-person-video2"></i> Inscripciones
                </a>
            </li>
            <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <a routerLink="trabajadores" routerLinkActive="active" class="nav-link">
                    <i class="bi bi-person-lines-fill"></i> Trabajadores
                </a>
            </li>
            <li routerLinkActiveOptions="{exact: true}" class="nav-item" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <a routerLink="cortes" routerLinkActive="active" class="nav-link">
                    <i class="bi bi-currency-exchange"></i> Historial de ventas
                </a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a (click)="logout()" class="nav-link pointer">
                    <i class="bi bi-door-closed-fill"></i> Salir
                </a>
            </li>

        </ul>

        <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span> Current month
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span> Last quarter
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span> Social engagement
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span> Year-end sale
                </a>
            </li>
        </ul> -->
    </div>
</nav>