.p-float-label {
    margin-bottom: 25px;
}

.cont-btn-regresar {
    display: flex;
    justify-content: flex-end;
}

.cont-inputs {
    margin: auto;
    width: 50%;
}

@media(max-width:768px) {
    .cont-inputs {
        width: 100%;
    }
}

@media(max-width:375px) {
    .cont-btn-regresar {
        justify-content: start;
        margin-bottom: 10px;
        padding-left: 5px;
    }
}


/* 
.btn-trabajadores {
    width: 100%;
} */