<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h3"><strong>Trabajadores</strong></h1>
    <button btnCancelar routerLink="../" class="btn btn-danger text-white" type="submit">Regresar</button>
</div>
<form action="" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="crearTrabajador()">
    <div class="col mx-5">
        <h3 class="text-center">Crear trabajador</h3>

        <div class="row">
            <div class="col-md-6">
                <label for="name" class="form-label">Nombre</label>
                <input formControlName="name" type="text" id="name" class="form-control" aria-describedby="name">
                <div id="name" class="form-text mb-3">
                    Introduce el nombre del trabajador.
                </div>
            </div>
            <div class="col-md-6">
                <label for="lastName" class="form-label">Apellido</label>
                <input formControlName="lastName" type="text" id="lastName" class="form-control" aria-describedby="lastName">
                <div id="lastName" class="form-text mb-3">
                    Introduce el apellido del trabajador.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="phoneNumber" class="form-label">Número de teléfono</label>
                <input formControlName="phoneNumber" type="text" id="phoneNumber" class="form-control" aria-describedby="phoneNumber" minlength="10" maxlength="10">
                <div id="phoneNumber" class="form-text mb-3">
                    Introduce el número teléfonico del trabajador.
                </div>
            </div>
            <div class="col-md-6">
                <label for="user" class="form-label">Usuario</label>
                <input formControlName="user" type="text" id="user" class="form-control" aria-describedby="user">
                <div id="user" class="form-text mb-3">
                    Introduce un usuario para el trabajador.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="password" class="form-label">Password</label>
                <input formControlName="password" type="password" id="password" class="form-control" aria-describedby="passwordHelpBlock">
                <div id="password" class="form-text mb-3">
                    Introduce una contraseña para el trabajador. Esta debe contener mínimo 6 caracteres.
                </div>
            </div>
            <div class="col-md-6" disabled>
                <label for="role" class="form-label">Rol del trabajador</label>
                <input placeholder="Trabajador" type="text" id="role" class="form-control" aria-describedby="role" [disabled]="true" disabled>
                <div id="role" class="form-text mb-3">
                    Este campo solamente especifica el rol del trabajador creado.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col d-grid gap-1">
                <button type="submit" class="btn bg-azul-200 text-white">Guardar</button>
            </div>
        </div>

    </div>
</form>